{% extends 'applications/base.html' %}

{% block content %}

    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <h1 class="mt-4">{{ title }}</h1>
                <div class="card mb-4">
                    <div class="card-header">
                        <i class="fas fa-table mr-1"></i>
                        Продукта
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
                                <thead>
                                <tr>
                                    <th>Имя дилера</th>
                                    <th>Название категории</th>
                                    <th>Модель устройства</th>
                                    <th>Имеющееся колличетсво</th>
                                    <th>Купить</th>
                                </tr>
                                <tbody>
                                {% for product in products %}
                                    <tr>
                                        <td>{{ product.user_name }}</td>
                                        <td>{{ product.name_application }}</td>
                                        <td>{{ product.model }}</td>
                                        <td>{{ product.quantity}}</td>

<!--                                        <td> <a href="{% url 'applications:user_bye_one_product' product.id %}">-->
<!--                                                <input class="btn btn-success btn-block" type="submit" value="Купить">-->
<!--                                             </a>-->
<!--                                        </td>-->
                                        <td><form action="{% url 'cart:cart_add' product.model.id %}" method="post">

                                            {% csrf_token %}
                                             <input class="btn btn-success btn-block" type="submit" value="Добавить">
                                            {{ cart_product_form }}
                                        </form>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">

            </div>
        </footer>
    </div>

{% endblock %}