{% extends 'mainapp/base.html' %}
{% load static %}
{% block css %}
    <link href="{% static  'css/products.css' %}" rel="stylesheet">
{% endblock %}

{% block content %}

    <div class="container">

        <div class="row">

            <div class="col-lg-3">


            </div>
            <!-- /.col-lg-3 -->

            <div class="col-lg-12">

                <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>

                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
                {% include 'mainapp/includes/card.html' %}


            </div>

        </div>

    </div>

{% endblock %}

{% block footer %}
    <footer style="position:fixed; bottom:0; width:2000px" class="py-5 bg-dark">
        <div class="container" >
            <p class="m-0 text-center text-white">Copyright &copy; Портал Теле2</p>
        </div>
    </footer>
{% endblock %}